@import '@/assets/styles/mixins.scss';

.subbar {
  background: transparent;
  min-height: rem(64);
  border-bottom: 1px solid $border;
  padding: rem(15) rem(20);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}



.divider {
    width: 1px;
    background-color: $border;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: rem(18);
  }
  
  .breadcrumb {
    position: relative;
    margin-right: rem(30);
  
    &::after {
      content: '-';
      position: absolute;
      right: rem(-18);
      bottom: 0;
    }
  
    &:last-child {
      margin-right: 0;
  
      &::after {
        display: none;
      }
    }
  }
  
  .breadcrumbLink {
    display: block;
  
    &__current {
      color: $black;
      font-weight: 700;
      pointer-events: none;
    }
  }

  .chat {
    position: fixed;
    z-index: 1998;
    bottom: rem(45);
    left: rem(90);
    @include transition-slow();
  }
  
  .container {
    display: flex;
    flex-direction: column;
    z-index: -1;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 20px);
    right: 0;
    background-color: $white;
    width: rem(330);
    border-radius: 5px;
    box-shadow: 0 5px 20px -5px rgba($black, 0.08), 0 5px 20px -5px rgba($black, 0.08);
    padding-left: rem(25);
    padding-right: rem(25);
    padding-top: rem(15);
    padding-bottom: rem(10);
    @include transition-slow();
  
    @media (max-width: $xs-max-width) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      right: rem(52);
      width: 0;
      height: 0;
      border-top: 7px solid white;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 0;
  
      @media (max-width: $md-max-width) {
        right: rem(10);
      }
    }
  }
  
  .containerToggled {
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  
  .innerContainer {
    height: rem(300);
  
    @media (max-width: $xs-max-width) {
      flex-grow: 1;
    }
  }
  
  .icon {
    position: relative;
    bottom: -1px;
  }
  